body
  display flex
  justify-content center
  align-items center
  height 100vh
  font-family: 'Quicksand', sans-serif;
  text-align center
  // background: linear-gradient(to left, #ffd89b , #19547b);

.thumb
  height 400px
  width 400px
  background-size cover
  border 1px solid #ccc
  border-radius 3px 3px 0px 0px
  background-color #fff
  
.file-input 
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
.file-input + label 
  border 1px solid #6DC4BB
  border-radius 0 0 3px 3px
  width 400px
  display inline-block
  padding 10px 0px
  text-align center
  background-color #6DC4BB
  color #fff
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px
  &:hover 
    cursor pointer