<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/bootstrap.min-4.css">
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- refrence -->
  <script src='https://cdn.rawgit.com/lhorie/mithril.js/rewrite/mithril.js'></script>
  <script src="{% static 'mithril-1-0-file-uploader/dist/script.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <!-- Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="/static/bootstrap.min-4.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Quicksand'>
  <link rel="stylesheet" href="{% static 'mithril-1-0-file-uploader/dist/style2.css' %}">
  <!-- auto complete resource -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=qEhfLhkgPu7mnd2RR706"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=qEhfLhkgPu7mnd2RR706&submodules=panorama"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=qEhfLhkgPu7mnd2RR706&submodules=geocoder"></script>
  <title>Meokda 로그인</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
    <div class="container">
      <a class="navbar-brand" href="/">Meokda</a>



      <form class="form-inline  my-lg-0  d-flex justify-content-center align-items-center container">
        <input class="form-control mr-sm-2" type="text" placeholder="검색">
        <button type='button' class="btn btn-secondary ">
          검색</button>
      </form>


      <button type="button" class="btn btn-info mr-5" style="white-space:nowrap; "
        onclick="location.href = '/video/new'">글쓰기</button>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
          </a>
        </li>

        <!-- 로그인 되어있을 경우에만 -->
        {% if request.session.user %}

        <li class="nav-item " style="margin-top: 3;">

          <!-- profile picture 가져오기 제한(view 없음) -->
          <div class="box"
            style="background: #BDBDBD; width: 35px; height: 35px; border-radius: 70%; overflow: hidden;">
            {% for i in ddd %}
            {% if i.profile_pic %}
            <img class="profile" style="width: 100%; height: 100%; object-fit: cover;" src=" {{i.profile_pic.url}}">
            {% else %}
            <img class="profile" style="width: 100%; height: 100%; object-fit: cover;"
              src="{% static 'nomal_profile.png' %}">
            {% endif %}
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="{% for i in ddd %} http://127.0.0.1:8000/user/image/{{request.session.user}}{% endfor %}">
            {{request.session.user }} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/about">About</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/about">About</a>
        </li>

        {% endif %}
      </ul>
  </nav>

  <!-- 동영상업로드 -->
  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2">
      <div id="uploader"></div>
    </div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <div class="mb-5">
              <h1>동영상 올리기</h1>
              <p class="mb-5">먹고 싶은거 다 있다. 먹다</p>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
              
              <div class="form-group last mb-4">
                {% if field.name == 'file' or field.name == 'status' %}
                <label for="{{ field.id_for_label }}"></label>
                
                
                {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}

                {% if field.name == 'status' %}
                <select type="{{ field.field.widget.input_type }}" name="status" class="form-control" id="id_status">
                  <option value="status_choices">상태</option>
                  <option value="before eating">먹기전</option>
                  <option value="eating">먹는중</option>
                </select>


                {% elif field.name == 'restaurant' %}
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="searchInput"
                  name="{{ field.name }}" />

                {% elif field.name == 'mapx' or field.name == 'mapy' %}
                <input class="form-control" id="{{ field.id_for_label }}"
                  name="{{ field.name }}" />

                {% else %}
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                  name="{{ field.name }}" />

                {% endif %}


              </div>
              <!-- 빠진항목 확인 -->
              {% if field.errors %}
              <span style="color : red">{{ field.errors }} </span>
              {% endif %}




              {% endfor %}

              
              <input type="submit" value="발행하기" class="mt-5 btn btn-block btn-primary">

              <!-- 오토컴플릿 & 실시간 감지 & ajax 송수신 -->
              <script>
                var oldVal
                $("#searchInput").on("propertychange change keyup paste input", function () {
                  var currentVal = $(this).val();
                  if (currentVal == oldVal) {
                    return;
                  }

                  oldVal = currentVal;
                  var allData = { "keyinput": currentVal };
                  $.ajax({
                    url: "{% url 'video:search' %}",
                    type: 'GET',
                    data: allData,
                    success: function (response) {
                      var aaa = response.restaurant;
                      var array = aaa.split(",");
                      document.getElementById("id_address").value = response.address;
                      var tm128_x = new naver.maps.Point(response.mapx);
                      var tm128_y = new naver.maps.Point(response.mapy);

                      var latlng = new naver.maps.TransCoord.fromTM128ToLatLng(tm128_x,tm128_y);


                      document.getElementById("id_mapx").value = latlng.y;
                      document.getElementById("id_mapy").value = latlng.x;


                      $(function () {    //화면 다 뜨면 시작

                        var searchSource = array; // 배열 형태로 
                        $("#searchInput").autocomplete({  //오토 컴플릿트 시작
                          source: searchSource,    // source 는 자동 완성 대상
                          select: function (event, ui) {    //아이템 선택시
                            console.log(ui.item);
                            
                          },
                          focus: function (event, ui) {    //포커스 가면
                            return false;//한글 에러 잡기용도로 사용됨
                          },
                          minLength: 1,// 최소 글자수
                          autoFocus: true, //첫번째 항목 자동 포커스 기본값 false
                          classes: {    //잘 모르겠음
                            "ui-autocomplete": "highlight"
                          },
                          delay: 500,    //검색창에 글자 써지고 나서 autocomplete 창 뜰 때 까지 딜레이 시간(ms)
                          //            disabled: true, //자동완성 기능 끄기
                          position: { my: "right top", at: "right bottom" },    //잘 모르겠음
                          close: function (event) {    //자동완성창 닫아질때 호출
                            console.log(event);
                            
                            
                            


                          }
                        });

                      });
                    }

                  });

                });

              </script>

            </form>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- autocomplete script -->


</body>


</html>