<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Meokda User Profile</title>
  {% load static %}
  {% load humanize %}

<!-- refrence -->
  <link rel="stylesheet" href="{% static 'style5.css' %}">
  <link rel="stylesheet" href="/static/bootstrap.min-4.css">
  <script src="{% static 'dist/script.js' %}"></script>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
    integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
    integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</head>

<body>
  <!-- nav bar -->
  <section style='position: fixed; z-index:666;top:0; right: 0; left:0;'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
      <div class="container">
        <a class="navbar-brand" href="/">Meokda</a>



        <form class="form-inline  my-lg-0  d-flex justify-content-center align-items-center container">
          <input class="form-control mr-sm-2" type="text" placeholder="검색">
          <button type='button' class="btn btn-secondary ">
            검색</button>
        </form>


        <button type="button" class="btn btn-info mr-5" style="white-space:nowrap; "
          onclick="location.href = '/video/new'">글쓰기</button>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
            </a>
          </li>
          {% if request.session.user %}




          <li class="nav-item " style="margin-top: 3;">
            <div class="box"
              style="background: #BDBDBD; width: 35px; height: 35px; border-radius: 70%; overflow: hidden;">


              <img class="profile" style="width: 100%; height: 100%; object-fit: cover;"
                src=" {{ okky.profile_pic.url }}">




            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/user/image/{{request.session.user}}">
              {{request.session.user }} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/logout">logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/about">About</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/user/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/about">About</a>
          </li>

          {% endif %}
        </ul>


    </nav>
  </section>


</body>

</html>