<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
</head>

<body>

sdfa
    <img src = "{% static 'js/gkuer7.png' %}">
    <div class="infinite-container">
      {% for number in numbers %}
        <div class="infinite-item">{{ number }}</div>
      {% endfor %}
    </div>
  
    {% if numbers.has_next %}
      <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
    {% endif %}
  
    <div class="loading" style="display: none;">
      Loading...
    </div>
  
    <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
          $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
          $('.loading').hide();
        }
      });
    </script>
</body>

</html>