<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/static/bootstrap.min-4.css">
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
  {% load humanize %}
</head>

<body>
  <section style='position: fixed; z-index:666;top:0; right: 0; left:0;'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
      <div class="container">
        <a class="navbar-brand" href="/">Meokda</a>



        <form class="form-inline  my-lg-0  d-flex justify-content-center align-items-center container">
          <input class="form-control mr-sm-2" type="text" placeholder="검색">
          <button type='button' class="btn btn-secondary ">
            검색</button>
        </form>


        <button type="button" class="btn btn-info mr-5" style="white-space:nowrap; "
          onclick="location.href = '/video/new'">asdf</button>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
            </a>
          </li>
          {% if request.session.user %}




          <li class="nav-item " style="margin-top: 3;">
            <div class="box"
              style="background: #BDBDBD; width: 35px; height: 35px; border-radius: 70%; overflow: hidden;">
              <img class="profile" style="width: 100%; height: 100%; object-fit: cover;" src="/static/gkuer7.png">
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% for i in ddd %} {{i.pk}} {% endfor %}"> {{ request.session.user }} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/logout">logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/about">About</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/user/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/about">About</a>
          </li>

          {% endif %}
        </ul>


    </nav>
  </section>
  <div style="height:75;">

  </div>

  <div class="container text-center infinite-container">
    <div>
    <div id="map" style="float:left; width:50%;height:350px;"></div>
    <div id="roadview" style="float:right; width:50%;height:350px;"></div>
  </div>
    <script type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8d5a1f95978430a8fb191d78f07f9b87"></script>
    <script>
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 3 // 지도의 확대 레벨 
        };

      var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

      // 지도에 확대 축소 컨트롤을 생성한다
      var zoomControl = new kakao.maps.ZoomControl();

      // 지도의 우측에 확대 축소 컨트롤을 추가한다
      map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
      // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
      if (navigator.geolocation) {

        // GeoLocation을 이용해서 접속 위치를 얻어옵니다
        navigator.geolocation.getCurrentPosition(function (position) {

          var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도

          var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="padding:5px;">사용자 현재 위치</div>'; // 인포윈도우에 표시될 내용입니다

          // 마커와 인포윈도우를 표시합니다
          displayMarker(locPosition, message);

          var roadviewContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
          var roadview = new kakao.maps.Roadview(roadviewContainer); //로드뷰 객체
          var roadviewClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체

          var position = new kakao.maps.LatLng(lat, lon);

          // 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
          roadviewClient.getNearestPanoId(position, 50, function (panoId) {
            roadview.setPanoId(panoId, position); //panoId와 중심좌표를 통해 로드뷰 실행
          });
        });

      } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
          message = 'geolocation을 사용할수 없어요..'

        displayMarker(locPosition, message);
      }

      // 지도에 마커와 인포윈도우를 표시하는 함수입니다
      function displayMarker(locPosition, message) {

        // 마커를 생성합니다
        // 마커 이미지의 주소
        var markerImageUrl = 'https://ifh.cc/g/BdRk4F.png',
          markerImageSize = new kakao.maps.Size(40, 42), // 마커 이미지의 크기
          markerImageOptions = {
            offset: new kakao.maps.Point(20, 42)// 마커 좌표에 일치시킬 이미지 안의 좌표
          };

        // 마커 이미지를 생성한다
        var markerImage = new kakao.maps.MarkerImage(markerImageUrl, markerImageSize, markerImageOptions);
        var marker = new kakao.maps.Marker({
          map: map,
          image: markerImage,
          position: locPosition
        });

        var iwContent = message, // 인포윈도우에 표시할 내용
          iwRemoveable = true;

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
          content: iwContent,
          removable: iwRemoveable
        });

        // 인포윈도우를 마커위에 표시합니다 
        infowindow.open(map, marker);

        // 지도 중심좌표를 접속위치로 변경합니다
        map.setCenter(locPosition);
      }

    </script>
    <script>
      function returnPosition(x) {
        navigator.geolocation.getCurrentPosition(function (position) {

          var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도

          document.getElementById(x).innerHTML = "위도:" + lat + ", " + "경도:" + lon;

        })
      };
    </script>

    <div id="kbs">

    </div>
    <script>returnPosition("kbs")</script>
    {% for video in video_list %}
    <div class="card text-center mt-5 infinite-item">

      <div> {{video.author }}


        {% if request.session.user == 'gkuer' %}

        <button class="btn btn-info" onclick="location.href = '{% url 'video:video_delete' video.pk %}'">삭제</button>

        {% else %}
        video{{ video.id }}
        {{ video.pk }}
        {{ video.self.pk }}
        {{ video.self.id }}

        dd
        {% endif %}
      </div>
      <div class="card-header bg-transparent">
        <div class="row">
          <a class="nav-link navbar-brand  text-muted mr-0" href="#">
            <h4>{{video.restaurant}}</h4>
          </a>
          <a class="nav-link navbar-brand  text-muted ml-0 mt-1" href="#"><small>{{video.distance}}km</small></a>

          <a class="nav-link  navbar-brand  text-muted ml-auto" href="#">{{video.author}}</a>
          </li>
        </div>

        <div class="row">
          <a class="nav-link navbar-brand  text-muted mr-0" href="#">{{video.foodname}}</a>
          <a class="nav-link navbar-brand  text-muted ml-0 mt-1" href="#"><small>{{video.price | intcomma}}원</small></a>

          <a class="nav-link navbar-brand  ml-auto text-muted" href="#">{{video.get_status_display }}</a>
        </div>

      </div>


      <div class="card-body" style="padding:0;">
        <video id='video{{video.id}}' class="video center align-middle" controls="true" autoplay muted loop playsinline
          style='max-width: 100%; max-height: 700px;' onclick="unmute('video{{video.id}}')">
          <source src="{{ video.file.url }}" type="video/mp4">
          </source>

          Your browser does not support the video tag.
        </video>


        <script>

          function unmute(self) {
            var $video = $('#video{{video.id}}');
            const player = document.getElementById(self);

            if (player.muted) {
              player.muted = false;

            }
            else {
              player.muted = true;

            }
            if (player.pause()) {
              $video[0].play();
            }
          }



        </script>


      </div>
    </div>

    {% endfor %}

  </div>

  <div class="loading" style="display: none;">
    Loading...
  </div>

  {% if page_obj.has_next %}
  <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
  {% endif %}

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],

      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <script>
    $(function () {

      var $video = $('#video{{video.id}}');
      var $window = $(window);


      $window.scroll(function () {

        var $topOfVideo = $video.offset().top;
        var $bottomOfVideo = $video.offset().top + $video.outerHeight();

        var $topOfScreen = $window.scrollTop();
        var $bottomOfScreen = $window.scrollTop() + $window.innerHeight();

        if (($topOfScreen < $topOfVideo) && ($bottomOfScreen > $bottomOfVideo)) {
          $video[0].play();

        } else {
          $video[0].pause();

        }

      });

    });
  </script>

</body>


</html>